<h1>🚀 Available drones 🚀</h1>

<div>
    {{#each drones}}
        <hr>
        <div>
            <h2>Name: {{this.name}}</h2>
            <h3>Propellers: {{this.propellers}}</h3>
            <h3>Speed: {{this.maxSpeed}}</h3>
        </div>
    {{/each}}
</div>